{{define "footer"}}
<footer class="footer" id="about">
    <div class="container footer-container">
        <div class="footer-section">
            <h3 class="hp">О компании</h3>
            <p>
            Street Art Supplies — это магазин, созданный для настоящих ценителей уличного искусства. 
            Мы предлагаем качественные материалы для граффити, росписи стен и других форм самовыражения. 
            Наша миссия — поддерживать творцов и вдохновлять на создание уникальных арт-объектов.
            </p>
        </div>
        <div class="footer-sectionn">
            <h3>Каталог</h3>
            <ul class="footer-links">
                {{range .Categories}}
                    <li><a href="/products/{{.Id}}">{{.Name}}</a></li>
                {{end}}
            </ul>
        </div>
        <div class="footer-sectionn">
            <h3>Помощь</h3>
            <ul class="footer-links">
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Как сделать заказ</a></li>
                <li><a href="#">Статус заказа</a></li>
                <li><a href="#">Политика конфиденциальности</a></li>
            </ul>
        </div>
        <div class="footer-sectionn">
            <h3>Контакты</h3>
            <ul class="footer-links">
                <li>Email: info@streetart.supplies</li>
                <li>Телефон: +7 (999) 123-45-67</li>
                <li>Адрес: г. Москва, ул. Артовая, 1</li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Street Art Supplies. Все права защищены.</p>
    </div>
</footer>
{{end}}