{{define "header"}}
<header class="header">
    <div class="container header-container">
        <div class="logo">
            <a href="/">
                <img src="/static/img/logo2.png" alt="Street Art Supplies">
            </a>
        </div>
        <nav class="nav">
            <a href="/products" class="nav-link">Каталог</a>
            <div class="dropdown">
                <a href="#" class="nav-link">Категории</a>
                <div class="dropdown-content">
                    {{range .Categories}}
                    <a href="/products/{{.Id}}" class="dropdown-item">{{.Name}}</a>
                    {{end}}
                </div>
            </div>
            <a href="#" class="nav-link">О нас</a>
            <a href="#" class="nav-link">Контакты</a>
        </nav>
        <div class="user-menu">
            {{if .User}}
                <a href="/profile/cart" class="nav-link">Корзина</a>
                <div class="dropdown">
                    <div class="user-avatar">S</div>
                    <div class="dropdown-content">
                        <a href="/profile" class="dropdown-item">Профиль</a>
                        <a href="/profile/orders" class="dropdown-item">Заказы</a>
                        <a href="/api/logout" class="dropdown-item">Выйти</a>
                    </div>
                </div>
            {{else}}
                <a href="/login" class="nav-link">Войти</a>
                <a href="/register" class="nav-link register-link">Регистрация</a>
            {{end}}
        </div>
    </div>
</header>
{{end}}